In [2]:
import pandas as pd

In [3]:
from pathlib import Path

In [4]:
csvpath = Path('pybank.csv')

In [5]:
df = pd.read_csv(csvpath)

In [6]:
total_months = df.shape[0]

In [7]:
df.head(10)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857
6  Jul-2010        1033096
7  Aug-2010         604885
8  Sep-2010        -216386
9  Oct-2010         477532

In [8]:
total_profits_losses = df['Profit/Losses'].sum()

In [9]:
df['P/L Shifted'] = df['Profit/Losses'].shift(1)
df['Difference of P/L and Shifted'] = df['Profit/Losses'] - df['P/L Shifted']
df.head(10)

       Date  Profit/Losses  P/L Shifted  Difference of P/L and Shifted
0  Jan-2010         867884          NaN                            NaN
1  Feb-2010         984655     867884.0                       116771.0
2  Mar-2010         322013     984655.0                      -662642.0
3  Apr-2010         -69417     322013.0                      -391430.0
4  May-2010         310503     -69417.0                       379920.0
5  Jun-2010         522857     310503.0                       212354.0
6  Jul-2010        1033096     522857.0                       510239.0
7  Aug-2010         604885    1033096.0                      -428211.0
8  Sep-2010        -216386     604885.0                      -821271.0
9  Oct-2010         477532    -216386.0                       693918.0

In [10]:
average = df['Difference of P/L and Shifted'].mean()
maximum_increase_profits = df['Difference of P/L and Shifted'].max()
maximum_increase_losses = df['Difference of P/L and Shifted'].min()
print(average)
print(maximum_increase_profits)
print(maximum_increase_losses)

-2315.1176470588234
1926159.0
-2196167.0

In [11]:
print('Financial Analysis')
print('-' * 25)
print(f'Total Months: {total_months}')
print(f'Total Profits/Losses: ${total_profits_losses}')
print(f'Average Change: ${average}')
print(f'Greatest Increase In Profits: ${maximum_increase_profits}')
print(f'Greates Decrease In Profits: ${maximum_increase_losses}')

Financial Analysis
-------------------------
Total Months: 86
Total Profits/Losses: $38382578
Average Change: $-2315.1176470588234
Greatest Increase In Profits: $1926159.0
Greates Decrease In Profits: $-2196167.0